
<nav>
    <p><a href="index.html"><img src="./static/images/ness.jpg"/></a></p>
    <ul>
        <li><a href="404.html"><img src="./static/images/homeon.jpg"/></a></li>
        <li><a><img src="./static/images/abouton.jpg"/></a></li>
        <li><a><img src="./static/images/contacton.jpg"/></a></li>
        <li><a><img src="./static/images/prodon.jpg"/></a></li>
        <li><a><img src="./static/images/24fuelon.jpg"/></a></li>
        <li><a><img src="./static/images/payon.jpg"/></a></li>
        <li><a><img src="./static/images/linkson.jpg"/></a></li>
    </ul>
</nav>   